*{
    padding: 0;
    margin: 0;
}


nav{
    background-color: black;
    color: white;
    padding: 10px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 60%;
    color: grey;
    cursor: pointer;
}
li:hover {
    color: white;
}

input{
    width: 60%;
    padding: 15px;
}

.searchbox{
    padding:50px;
    text-align: center;
}
.box{
    border-width: 2px;
    border-style: solid;
    width: 221px;
    display: inline-block;
   text-align: center;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
}
#pa{
    padding-top: 30px;
    color: grey;
}